.Dashboard{
    background-color: var(--secondcolor);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'left  center center center center center center center center';
}

.slidec{
    grid-area: left;
}
.otherpages{
    grid-area: center;
    
}


@media only screen and (max-width: 600px) {
    .Dashboard{
        display: grid;
        grid-template-areas: 
        'left'
        'center'

        ;
    }
    .slidec{
        display: none;
    }
}